---
import Angular from './icons/Angular.astro'
import NodeJs from '../components/icons/NodeJs.astro'
import Mongo from './icons/MongoDb.astro'
import Tailwind from './icons/Tailwind.astro'

const TAGS = {
    ANGULAR : {
        name: "Angular",
        class: "bg-black text-white",
        icon: Angular,
    },
    NODEJS : {
        name: "Node.Js",
        class: "bg-black text-white",
        icon: NodeJs,
    },
    MONGO : {
        name: "MongoDb",
        class: "bg-black text-white",
        icon: Mongo,
    },
    TAILWIND : {
        name: "Tailwind",
        class: "bg-black text-white",
        icon: Tailwind,
    }
}
const PROYECTS = [
    {
        title: 'Poncho Home & Stay ',
        description: 'Proyecto fullstack integrador, realizado grupalmente para la materia de Desarrollo de Software de la carrera de Ingenieria en Sistemas. Proyecto Realizado en Angular en frontEnd y Node.Js en el Bacl y se utilizo Mongoose como bd y Tailwind CSS para los estilos',
        link: 'https://poncho-home-and-stay.vercel.app/home',
        github: 'https://github.com/francoax/dsw-app',
        image: '/proyects/Poncho.webp',
        tags:[TAGS.ANGULAR,TAGS.NODEJS,TAGS.MONGO,TAGS.TAILWIND]
    }
]

---

{
    PROYECTS.map(proyect =>(
        <article>
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2" >{proyect.title}</h3>
            <p class="text-lg mb-4 text-pretty" >{proyect.description}</p>
            <ul class="flex gap-x-4 flex-row">
                {proyect.tags.map(tag => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class}`}>
                            <tag.icon class="size-4"/>
                            {tag.name}
                        </span>    
                    </li>
                ))}    
            </ul>
            <img class="rounded shadow-white/20" src={proyect.image} alt="Captura de pantalla del proyecto">
        </article>
    ) )
}